* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.balloon-animation {
  background-color: rgb(36, 193, 255);
  position: relative;
  min-width: 100%;
  min-height: 100vh;
}

.flying-cloud {
  position: absolute;
  width: 20%;
}
.balloon {
  position: absolute;
  width: 15%;
  left: 30%;
}
.flying-cloud:nth-child(1) {
  left: 20%;
  z-index: 1;
  top: 40%;
}
.flying-cloud:nth-child(2) {
  left: 19%;
  top: 5%;
}
.flying-cloud:nth-child(3) {
  left: 70%;
  top: 70%;
  z-index: 1;
}
.flying-cloud:nth-child(4) {
  left: 54%;
  top: 62%;
}
.flying-cloud:nth-child(5) {
  left: 8%;
  top: 66%;
  z-index: 1;
}
.flying-cloud:nth-child(6) {
  z-index: 1;
}
